{% extends "sqlayout.html" %}

{% block title %}Question 2 - CA Driver's Quiz{% endblock %}

{% block content %}
	<h3>When must you obey instructions from school crossing guards?</h3>

	<form action={{ url_for("renderPage3") }} method="POST">
		<input type="radio" id="option 1" name="q2ans" value="only during school hours">
		<label for="option 1">only during school hours</label><br>
		<input type="radio" id="option 2" name="q2ans" value="only when you see children present">
		<label for="option 2">only when you see children present</label><br>
		<input type="radio" id="option 3" name="q2ans" value="at all times">
		<label for="option 3">at all times</label><br><br>
		<input type="submit" value="Submit">
	</form> 
	
{% endblock %}