{% extends "sqlayout.html" %}

{% block title %}Question 1 - CA Driver's Quiz{% endblock %}

{% block content %}
	<h3>What does a solid yellow line next to a broken yellow line mean?</h3>

	<form action={{ url_for("renderPage2") }} method="POST">
		<input type="radio" id="option 1" name="q1ans" value="vehicles next to the broken line may pass">
		<label for="option 1">vehicles next to the broken line may pass</label><br>
		<input type="radio" id="option 2" name="q1ans" value="vehicles next to the solid line may pass">
		<label for="option 2">vehicles next to the solid line may pass</label><br>
		<input type="radio" id="option 3" name="q1ans" value="vehicles on both sides may pass">
		<label for="option 3">vehicles on both sides may pass</label><br><br>
		<input type="submit" value="Submit">
	</form>
	
{% endblock %}